<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <fbUser>Joao Domingos</fbUser>
    <fbToken>EAAGVafw8IuIBAAnjw6VXhxLpAJ2Y1v1ZAEOHNbfegzMwYjJsip2WbLjrYKFPcllvJwEHdrToujttl5DMJwWpIeL06xTn4DM96ROvDgJW9uzAf8jKS8NUUlDoejxNnYaumAvTAHKuheE3xMFEVQBavrZAZBivrYZD</fbToken>
    <twtUser>AcademiaBda</twtUser>
    <twtToken>1052285380026806272-NOPAb6y9KaVHi8mWvUqVboZCDRzj83</twtToken>
    <twtKey>axr8W68lwG2fYA2rvzt1GJmWF</twtKey>
    <twtSecret>KhJwPrDKlOaecH2OoHNdvAjh7CVuvmIW49xpSXeXcigf3omgAO</twtSecret>
    <twtTokenSecret>icvTMMUofe6Qi6souL29VEOktCjN5W7XAW5ZtsxYZ2c4A</twtTokenSecret>
    <email>bomdiaacademia2@gmail.com</email>
    <password>bdacademia#2018</password>
</config>
